<div class="container py-4">

  <!-- Dados da Matrícula -->
  <div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">
        Matrícular Aluno
      </h5>
      <div>
        <button class="btn btn-primary btn-sm me-2" type="button" (click)="save()">
          Salvar
        </button>
        <button class="btn btn-danger btn-sm" type="button">
          Remover
        </button>
        <button class="btn btn-secundaty btn-sm" type="button" (click)="backEnrollmentList()">
          Voltar
        </button>
      </div>
    </div>

    <div class="card-body">
      <form [formGroup]="form">
        <div class="row g-3">
          <div class="col-md-2">
            <label class="form-label">
              Matrícula
            </label>
            <input type="text" class="form-control" formControlName="id" readonly>
          </div>

          <div class="col-md-6">
            <label class="form-label">
              Aluno
            </label>
            <select class="form-select" formControlName="studentId">
              <option [ngValue]="null"> Selecione... </option>
              @for (obj of students; track obj.id) {
              <option [ngValue]="obj.id">
                {{ obj.name }}
              </option>
              }
            </select>
          </div>

          <div class="col-md-2">
            <label class="form-label">
              Data Matrícula
            </label>
            <input type="date" class="form-control" formControlName="enrollmentDate">
          </div>

          <div class="col-md-2">
            <label class="form-label">
              Data Fechamento
            </label>
            <input type="date" class="form-control" formControlName="closingDate">
          </div>

          <div class="col-md-2">
            <label class="form-label">
              Dia do Vencimento
            </label>
            <select class="form-select" formControlName="dueDay">
              <option [ngValue]="null"> Selecione... </option>
              @for (obj of days; track obj) {
              <option [ngValue]="obj.day">
                {{ obj.day }}
              </option>
              }
            </select>
          </div>

        </div>
      </form>
    </div>
  </div>
  <!-- Botão Modal -->
  <div class="mt-4">
    @if(maxEnrollmenteModality == false) {
    <button class="btn btn-primary" (click)="openModal()">
      Adicionar Modalidade
    </button>
    }
    @else {
    <button class="btn btn-primary" (click)="openModal()" disabled>
      Adicionar Modalidade
    </button>
    }
  </div>
  <!-- Tabela -->
  <div class="card mt-3 shadow-sm">
    <div class="card-body p-0">
      <table class="table table-hover mb-0">
        <thead class="table-light">
          <tr>
            <th>Modalidade</th>
            <th>Graduação</th>
            <th>Plano</th>
            <th>Data Início</th>
            <th>Data Fim</th>
            <th width="100">Ações</th>
          </tr>
        </thead>
        <tbody>
          @for(obj of enrollmentModalitiesResponse; track obj) {
          <tr>
            <td>{{ obj.modality.name }}</td>
            <td>{{ obj.graduation.name }}</td>
            <td>{{ obj.subscription.name }}</td>
            <td>{{ obj.startDate }}</td>
            <td>{{ obj.endDate }}</td>
            <td>
              <button class="btn btn-sm btn-danger" (click)="deleteEnrollmentModality(obj)">
                Excluir
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  @if (modalOpen) {
  <app-enrollment-modality-form [enrollmentModality]="selectedEnrollmentModality" (close)="closeModal($event)">
  </app-enrollment-modality-form>
  }

</div>