<div class="container">
  <div class="d-flex justify-content-between mb-3">
    <h3>Planos</h3>
    <button class="btn btn-primary" (click)="openCreate()">
      Novo
    </button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Plano</th>
        <th>Modalidade</th>
        <th>Preço</th>
        <th>Ativo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (obj of subscriptions; track obj.id) {
      <tr>
        <td>{{ obj.id }}</td>
        <td>{{ obj.name }}</td>
        <td>{{ obj.modality?.name }}</td>
        <td>{{ obj.price }}</td>
        <td>{{ obj.active }}</td>
        <td>
          <button class="btn btn-sm btn-warning me-2" (click)="openEdit(obj)">
            Editar
          </button>
          <button class="btn btn-sm btn-danger" (click)="delete(obj.id)">
            Excluir
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <!-- Pagination -->
  <nav class="d-flex justify-content-center mt-3">
    <small>
      Exibindo {{ subscriptions.length }} de {{ totalElements }} registros
    </small>
  </nav>
  <nav class="d-flex justify-content-center mt-3">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="pageResponse?.first">
        <button class="page-link" (click)="previousPage()"> &laquo; </button>
      </li>

      @for (p of pages; track p) {

      <li class="page-item" [class.active]="p === page.page">
        <button class="page-link" (click)="goToPage(p)"> {{ p + 1 }} </button>
      </li>

      }

      <li class="page-item" [class.disabled]="pageResponse?.last">
        <button class="page-link" (click)="nextPage()"> &raquo; </button>
      </li>
    </ul>
  </nav>

  <!-- Modal form -->
  @if (modalOpen) {
  <app-subscription-form [subscription]="selectedSubscription" (close)="closeModal($event)">
  </app-subscription-form>
  }

</div>