<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/">
      Academia
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">

      <ul class="navbar-nav">

        @for (menu of menus; track menu.label) {

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">

            {{ menu.label }}

          </a>

          <ul class="dropdown-menu">

            @for (item of menu.children; track item.label) {

            <li>

              @if (item.route) {
              <a class="dropdown-item" [routerLink]="item.route">
                {{ item.label }}
              </a>
              }

              @if (!item.route) {
              <a class="dropdown-item">
                {{ item.label }}
              </a>
              }

            </li>

            }

          </ul>

        </li>

        }

      </ul>

    </div>

  </div>

</nav>