<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">

    <a class="navbar-brand fw-bold" routerLink="/">
      Academia
    </a>

    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="menu">

      <ul class="navbar-nav">

        <!-- Sistemas -->

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">

            Sistemas

          </a>

          <ul class="dropdown-menu">

            <li>
              <a class="dropdown-item" routerLink="/usuarios">

                Usuários

              </a>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>

              <a class="dropdown-item">

                Sair

              </a>

            </li>

          </ul>

        </li>

        <!-- Cadastros -->

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">

            Cadastros

          </a>

          <ul class="dropdown-menu">

            <li>
              <a class="dropdown-item" routerLink="/alunos">

                Alunos

              </a>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/modalidades">

                Modalidades

              </a>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/planos">

                Planos

              </a>
            </li>

          </ul>

        </li>

        <!-- Processos -->

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">

            Processos

          </a>

        </li>

        <!-- Relatórios -->

        <li class="nav-item">

          <a class="nav-link" routerLink="/relatorios">

            Relatórios

          </a>

        </li>

        <!-- Ajuda -->

        <li class="nav-item">

          <a class="nav-link">

            Ajuda

          </a>

        </li>

      </ul>

    </div>

  </div>

</nav>