<div class="modal d-block bg-dark bg-opacity-50">

  <div class="modal-dialog modal-xl">

    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          {{ student ? 'Editar Aluno' : 'Cadastrar Aluno' }}
        </h5>
        <button class="btn-close" (click)="cancel()"></button>
      </div>

      <div class="modal-body">

        <form [formGroup]="form">
          <input class="form-control mb-2" placeholder="Nome" formControlName="name">
          <input class="form-control mb-2" placeholder="Data Nascimento - 01/01/1900" formControlName="birthdate">

          <select class="form-select mb-2" formControlName="genre">
            <option value="" disabled>Selecione o gênero</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
          </select>

          <input class="form-control mb-2" placeholder="cpf" formControlName="cpf">
          <input class="form-control mb-2" placeholder="Celuar - (11)90000-0000" formControlName="phone">
          <input class="form-control mb-2" placeholder="Email" formControlName="email">
          <input class="form-control mb-2" placeholder="CEP" formControlName="zipCode">

          <!-- <input class="form-control mb-2" placeholder="Estado" formControlName="state"> -->
          <select class="form-select mb-2" formControlName="state">
            <option value="">Selecione um estado</option>

            @for (state of states; track state.uf) {
            <option [value]="state.uf">
              {{ state.name }} ({{ state.uf }})
            </option>
            }
          </select>

          <input class="form-control mb-2" placeholder="Cidade" formControlName="city">
          <input class="form-control mb-2" placeholder="Endereço" formControlName="address">
          <input class="form-control mb-2" placeholder="Número" formControlName="number">
          <input class="form-control mb-2" placeholder="Complemento" formControlName="complement">
          <textarea class="form-control mb-2" placeholder="Observação" formControlName="observations"></textarea>
        </form>

      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="cancel()">
          Cancelar
        </button>
        <button class="btn btn-primary" (click)="save()">
          Salvar
        </button>
      </div>

    </div>

  </div>

</div>