<div class="container">

  <!-- SELECTOR -->
  <div class="card shadow-sm mb-4">

    <div class="card-body">

      <label class="form-label">
        <h3>Matriculas</h3>
      </label>

      <select class="form-select" [(ngModel)]="selectedEnrollmentId" (change)="onEnrollmentChange()">
        <option [ngValue]="undefined">
          Selecione...
        </option>

        @for(enrollment of enrollments; track enrollment.id){
        <option [ngValue]="enrollment.id">
          {{ enrollment.student.name }}
          (#{{ enrollment.id }})
        </option>
        }
      </select>
    </div>
  </div>

  <!-- HISTORY -->
  @if(history){

  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <strong>Aluno</strong>
          <p>{{ history.enrollment.studentName }}</p>
        </div>
        <div class="col-md-4">
          <strong>Vencimento</strong>
          <p>Dia {{ history.enrollment.dueDay }}</p>
        </div>
        <div class="col-md-4">
          <strong>Situação</strong>
          <p>{{ history.enrollment.status }}</p>
        </div>
      </div>
    </div>
  </div>

  }

  <div class="card shadow-sm mb-4">
    <div class="card-body">

      <!-- TABLE -->
      @if(history){
      <table class="table table-striped w-100">
        <thead>
          <tr>
            <th>id</th>
            <th>Vencimento</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          @for(payment of history.payments.content; track payment.id){
          <tr>
            <td>{{ payment.id }}</td>
            <td>{{ payment.dueDate | date:'dd/MM/yyyy'}}</td>
            <td>{{ payment.amount | currency:'BRL' }}</td>
            <td>{{ payment.status }}</td>
            <td>
              <button class="btn btn-sm btn-success me-2" (click)="openPay(payment)">
                Pagar
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>

      <!-- Pagination -->
      <nav class="d-flex justify-content-center mt-3">
        <small>
          Exibindo {{ history.payments.content.length }} de {{ totalElements }} registros
        </small>
      </nav>
      <nav class="d-flex justify-content-center mt-3">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="pageResponse?.first">
            <button class="page-link" (click)="previousPage()"> &laquo; </button>
          </li>

          @for (p of pages; track p) {
          <li class="page-item" [class.active]="p === page.page">
            <button class="page-link" (click)="goToPage(p)"> {{ p + 1 }} </button>
          </li>
          }

          <li class="page-item" [class.disabled]="pageResponse?.last">
            <button class="page-link" (click)="nextPage()"> &raquo; </button>
          </li>
        </ul>
      </nav>

      }
    </div>
  </div>

  @if (modalOpen) {
  <app-payment-register [payment]="selectedPayment" (close)="closeModal($event)">
  </app-payment-register>
  }

</div>