<div class="container">

  <div class="d-flex justify-content-between mb-3">

    <h3>Modalidade</h3>

    <button class="btn btn-primary" (click)="openCreate()">
      Novo
    </button>

  </div>

  <!-- Card search -->
  <div class="card shadow-sm border-0 mb-4">

    <table class="table table-striped">

      <thead>
        <tr>
          <th>Nome</th>
        </tr>
      </thead>

      <tbody>

        @for (modality of modalities; track modality.id) {
        <tr>
          <td>{{ modality.name }}</td>

          <td>
            <button class="btn btn-sm btn-warning me-2" (click)="openEdit(modality)">
              Editar
            </button>

            <button class="btn btn-sm btn-danger" (click)="delete(modality.id)">
              Excluir
            </button>
          </td>
        </tr>
        }

      </tbody>

    </table>

    @if (modalOpen) {
    <app-modality-form [modality]="selectedModality" (close)="closeModal($event)">
    </app-modality-form>
    }

  </div>