.modal-backdrop-custom {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, .5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.modal-container {

  width: 600px;
  max-width: 95%;

  background: white;

  border-radius: 8px;

  box-shadow: 0 0 30px rgba(0, 0, 0, .3);

  overflow: hidden;
}

.modal-header,
.modal-footer {

  padding: 16px;

}

.modal-body {

  padding: 20px;

}