<div class="modal fade show d-block" id="modalModalidade" tabindex="-1">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Adicionar Modalidade
        </h5>
        <button class="btn-close" (click)="cancel()"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="form">

          <div class="row g-3">

            <div class="col-md-4">
              <label class="form-label">
                Modalidade
              </label>
              <select class="form-select" formControlName="modality">
                <option [ngValue]="null">
                  Selecione...
                </option>
                @for (modality of modalities; track modality) {
                <option [ngValue]="modality">
                  {{ modality.name }}
                </option>
                }
              </select>
            </div>

            <div class="col-md-4">
              <label class="form-label">
                Graduação
              </label>
              <select class="form-select" formControlName="graduation">
                <option [ngValue]="null">
                  Selecione...
                </option>
                @for (graduation of graduations; track graduation) {
                <option [ngValue]="graduation">
                  {{ graduation.name }}
                </option>
                }
              </select>
            </div>

            <div class="col-md-4">
              <label class="form-label">
                Plano
              </label>
              <select class="form-select" formControlName="subscription">
                <option [ngValue]="null">
                  Selecione...
                </option>
                @for (subscription of subscriptions; track subscription) {
                <option [ngValue]="subscription">
                  {{ subscription.name }}
                </option>
                }
              </select>
            </div>

            <div class="col-md-6">
              <label class="form-label">
                Data Início
              </label>
              <input type="date" class="form-control mb-2" formControlName="startDate">
            </div>

            <div class="col-md-6">
              <label class="form-label">
                Data Fim
              </label>
              <input type="date" class="form-control mb-2" formControlName="endDate">
            </div>

          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancel()">
          Cancelar
        </button>
        <button class="btn btn-primary" (click)="save()">
          Salvar
        </button>
      </div>

    </div>
  </div>

</div>
<div class="modal-backdrop fade show"></div>