<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999;">

  @for (
  toast of toastService.messages;
  track $index
  ) {

  ```
  <div class="toast show mb-2" [class.text-bg-success]="toast.type === 'success'"
    [class.text-bg-danger]="toast.type === 'danger'" [class.text-bg-warning]="toast.type === 'warning'"
    [class.text-bg-info]="toast.type === 'info'" role="alert">

    <div class="d-flex">

      <div class="toast-body">

        <i class="fas me-2" [class]="getIcon(toast.type)"></i>

        {{ toast.message }}

      </div>

      <button type="button" class="btn-close me-2 m-auto" [class.btn-close-white]="
        toast.type !== 'warning'
      " aria-label="Fechar" (click)="remove($index)"></button>

    </div>

  </div>
  ```

  }

</div>