<div class="container">

  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          <h3 class="text-center mb-4"> Login </h3>

          <form [formGroup]="form" (ngSubmit)="login()">

            <!-- Usuário -->
            <div class="mb-3">
              <label class="form-label">
                Usuário
              </label>
              <input type="text" class="form-control" formControlName="username">

              @if(form.controls.username.invalid &&
              form.controls.username.touched){

              <div class="text-danger mt-1">
                Informe o usuário.
              </div>
              }
            </div>

            <!-- Senha -->
            <div class="mb-3">
              <label class="form-label">
                Senha
              </label>
              <input type="password" class="form-control" formControlName="password">

              @if(form.controls.password.invalid &&
              form.controls.password.touched){

              <div class="text-danger mt-1">
                Informe a senha.
              </div>
              }

            </div>

            @if(errorMessage){
            <div class="alert alert-danger">
              {{ errorMessage }}
            </div>
            }

            <button class="btn btn-primary w-100" type="submit" [disabled]="loading">
              @if(loading){
              Entrando...
              } @else {
              Entrar
              }
            </button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>