<div class="modal d-block bg-dark bg-opacity-50">

  <div class="modal-dialog modal-xl">

    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          {{ subscription ? 'Editar Inscrição' : 'Cadastrar Inscrição' }}
        </h5>

        <button class="btn-close" (click)="cancel()"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="form">
          <label class="form-label">Nome</label>
          <input class="form-control mb-2" placeholder="Nome do Plano" formControlName="name">
        </form>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <label class="form-label">Valor</label>
          <input class="form-control mb-2" placeholder="Valor" formControlName="price">
        </form>
      </div>

      <!-- <div class="modal-body">
        <form [formGroup]="form">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="active" id="active">
            <label class="form-check-label" for="active">
              Plano Ativo
            </label>
          </div>
        </form>
      </div> -->

      <div class="modal-body">

        <form [formGroup]="form">

          <label class="form-label">Modalidade</label>
          <select class="form-select" formControlName="modalityName">
            <option [ngValue]="null">
              Selecione...
            </option>
            @for (modality of modalities; track modality.id) {
            <option [ngValue]="modality.name">
              {{ modality.name }}
            </option>
            }
          </select>

        </form>

      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="cancel()">
          Cancelar
        </button>
        <button class="btn btn-primary" (click)="save()">
          Salvar
        </button>
      </div>

    </div>

  </div>

</div>